<div class="l-cart-summary">
    <div class="l-cart-summary__icon"></div>
    <div class="l-cart-summary__info">
        <div class="l-cart-summary__total-price">
            $1,459.50
        </div>
        <div class="l-cart-summary__item-count">
            2 items
        </div>
    </div>
</div>
