<div class="quantity-select" data-js-component="quantity-select">
    <span class="quantity-select__button quantity-select__button_down"></span>
    <select class="quantity-select__control {{ inputClassMix }}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <span class="quantity-select__button quantity-select__button_disabed quantity-select__button_up"></span>
</div>
