<div class="item-info">
    <div class="item-info__heading">
        JP Funride 2014
    </div>
    <p class="item-info__body">
        Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.
    </p>
    <div class="item-info__button-wrap">
        {% include '../components/button.twig' with {
            classMix: 'button_style_slider button_bg_yellow',
            text: t('View more')
        } only %}
    </div>
</div>
