{% extends "../layouts/default.twig" %}

{% block header %}
    {% embed "../components/header.twig" %}
        {% block headerModClasses %}l-header_page_index{% endblock %}
        {% block headerLeft %}
            <div class="l-header__inner-left-item">
                {% include '../components/cart-account.twig' %}
            </div>
            <!-- <div class="l-header__inner-left-item">
                <!-- {% include '../components/box.twig' %} -->
            <!-- </div>  -->
        {% endblock %}

        {% block headerBanner %}
            {% include "../components/home-banner-slider.twig" %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
		    <div class="col-xs-3">
                THe Menu
		    </div>
            <div class="col-xs-9">
                the body
            </div>
		</div>
	</div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ getCssStatic('index') }}">
{% endblock %}
{% block js %}
    <script src="{{ getJsStatic('index') }}"></script>
{% endblock %}
