<span class="image-lazy {{mods}}" data-js-component="image-lazy"
    {% if lazyInit %}
    data-js-component-lazy-init="true"
    {% endif %}
    data-js-component-params="{ src: '{{src}}' }">
    <img alt="{{alt}}" class="image-lazy__img">
</span>
