<div class="product-slider" data-js-component="product-slider">
    <div class="product-slider__heading">
        New products
    </div>
    <div class="product-slider__list">
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
        <div class="product-slider__item">
            {% include '../components/product-card.twig' %}
        </div>
    </div>
</div>
