<address class="contact-info">
    <div class="contact-info__row">
        <label class="contact-info__label">Phone</label>
        <span class="contact-info__value">0938500311</span>
    </div>
    <div class="contact-info__row">
        <label class="contact-info__label">Email</label>
        <a class="contact-info__value contact-info__value_color_yellow" href="emailto:thaihoa311@gmail.com">thaihoa311@gmail.com</a>
    </div>
    <div class="contact-info__row">
        <label class="contact-info__label">Address</label>
        <a class="contact-info__value contact-info__value_color_yellow" href="emailto:thaihoa311@gmail.com">229 Bui Huu Nghia, Binh Thanh</a>
    </div>
</address>
