<div class="tab" data-js-component="tab">
    <div class="tab__nav">
        <div class="tab__nav-item tab__nav-item_active">Product description</div>
        <div class="tab__nav-item">Product tags</div>
    </div>
    <div class="tab__content">
        <div class="tab__content-item tab__content-item_active">
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words `
which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
middle of text.<br />

There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words
which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the
middle of text.</br />
- 6.1 oz. 100% preshrunk heavyweight cotton
- Shoulder-to-shoulder taping
- Double-needle sleeves and bottom hem

It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
        </div>
        <div class="tab__content-item">
            {% include "../components/tags.twig" %}
        </div>
    </div>
</div>
