<div class="brands">
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
    <a href="#" class="brands__item">
        <img class="brands__img" src="/images/mock/brand-mock.jpg" alt="" />
    </a>
</div>
