<div class="sort-menu">
    {% for option in list %}
        <a href="?{{stringify(option.url)}}"
            class="sort-menu__item {% if option.url == currentSort.url %} sort-menu__item_active {% endif %}">
            {{option.label}}
        </a>
    {% endfor %}
</div>
