.l-header {
    top: 0;
    width: 100%;
    height: 175px;

    &_page_index {
        height: auto;
        margin-bottom: -18px;
    }
    &__inner {
        @extend .container;
        position: relative;
        z-index: 10;
    }
    &__inner-left {
        position: absolute;
        top: 25px;
        left: 0px;
    }
    &__inner-left-item {
        margin-bottom: 9px;
    }
    &__logo {
        display: block;
        margin: 0 auto 40px auto;
    }
    &__social-nav {
        position: absolute;
        top: 40px;
        right: 35px;

    }
    &__banner {
        z-index: 9;
        min-height: 175px;
    }
}
