<div class="product-image" data-js-component="product-image">
    <div class="product-image__main">
        <div class="product-image__main-list">
            <div class="product-image__main-item">
                <img src="/images/mock/1.png" alt="" class="product-image__main-image"/>
            </div>
            <div class="product-image__main-item">
                <img src="/images/mock/2.jpeg" alt="" class="product-image__main-image"/>
            </div>
            <div class="product-image__main-item">
                <img src="/images/mock/3.jpg" alt="" class="product-image__main-image"/>
            </div>
            <div class="product-image__main-item">
                <img src="/images/mock/4.jpg" alt="" class="product-image__main-image"/>
            </div>
        </div>
    </div>
    <div class="product-image__carousel">
        <div class="product-image__carousel-list">
            <div class="product-image__carousel-item">
                <img src="/images/mock/1.png" alt="" class="product-image__carousel-image"/>
            </div>
            <div class="product-image__carousel-item">
                <img src="/images/mock/2.jpeg" alt="" class="product-image__carousel-image"/>
            </div>
            <div class="product-image__carousel-item">
                <img src="/images/mock/3.jpg" alt="" class="product-image__carousel-image"/>
            </div>
            <div class="product-image__carousel-item">
                <img src="/images/mock/4.jpg" alt="" class="product-image__carousel-image"/>
            </div>
        </div>
    </div>
</div>
