.product-list {
    margin-bottom: 100px;
    &__heading {
        margin-bottom: 20px;
        &:after {
            display: table;
            clear: both;
            content: '';
        }
    }
    &__head-col {
        &_sort {
            float: left;
        }
        &_switcher {
            float: right;
        }
    }

    &__body {
        margin: 0 -10px;
    }
    &__bottom {
        padding-top: 20px;
        &:after {
            display: table;
            clear: both;
            content: '';
        }
    }
    &__pagination {
        float: right;
    }
    &__list, &__item {
        transition: all .2;
    }
}
.product-list_type_grid .product-list {
    &__list {
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 0;
    }
    &__item {
        box-sizing: border-box;
        width: 33%;
        padding: 0 10px 20px;
        display: inline-block;
        vertical-align: top;
    }
}
.product-list_type_list .product-list {
    &__list {
        &:after {
            display: table;
            clear: both;
            content: '';
        }
        list-style-type: none;
        padding: 0;
    }
    &__item {
        padding: 0 10px 10px;
        margin-bottom: 20px;
    }
}
