<ul class="l-simple-nav">
    <li class="l-simple-nav__item">
        <a class="l-simple-nav__social-icon l-simple-nav__social-icon_facebook" href="/facebook"></a>
    </li>
    <li class="l-simple-nav__item">
        <a class="l-simple-nav__social-icon l-simple-nav__social-icon_instagram" href="/instagram"></a>
    </li>
    <li class="l-simple-nav__item">
        <a class="l-simple-nav__social-icon l-simple-nav__social-icon_pinterest" href="/pinterest"></a>
    </li>
    <li class="l-simple-nav__item">
        <a class="l-simple-nav__social-icon l-simple-nav__social-icon_twitter" href="/twitter"></a>
    </li>
    <li class="l-simple-nav__item">
        <a class="l-simple-nav__social-icon l-simple-nav__social-icon_youtube" href="/youtube"></a>
    </li>
</ul>
