<div class="l-box l-box_bg_yellow">
    <div class="l-box__inner">
        <div class="l-box__heading">
            welcome to surfhouse
        </div>
        <p class="l-box__body">
            The only online store you will ever need for all your windsurfing and kitesurfing and SUP needs
        </p>
    </div>
</div>
