<div class="home-banner-slider" data-js-component="home-banner-slider">
    <div class="home-banner-slider__inner">
        <div class="home-banner-slider__item">
            <img src="/images/banners/banner-1.jpg" alt="" class="home-banner-slider__image"/>
            <div class="home-banner-slider__content">
                {% include "../components/item-info.twig" %}
            </div>
        </div>
        <div class="home-banner-slider__item">
            <img src="/images/banners/banner-2.jpg" alt="" class="home-banner-slider__image"/>
            <div class="home-banner-slider__content">
                {% include "../components/item-info.twig" %}
            </div>
        </div>
        <div class="home-banner-slider__item">
            <img src="/images/banners/banner-3.jpg" alt="" class="home-banner-slider__image"/>
            <div class="home-banner-slider__content">
                {% include "../components/item-info.twig" %}
            </div>
        </div>
    </div> <!-- .home-banner-slider__inner -->
</div> <!-- .home-banner-slider -->
