<div class="type-switcher" data-js-component="type-switcher" data-js-component-lazy-init="true">
    <div class="type-switcher__label">View as:</div>
    <div class="type-switcher__item type-switcher__item_active" data-type="grid">
        <i class="glyphicon glyphicon-th"></i>
    </div>
    <div class="type-switcher__item" data-type="list">
        <i class="glyphicon glyphicon-list"></i>
    </div>
</div>
