<aside class="aside-menu {{ classMix }}">
    <div class="aside-menu__heading">{{ Menu }}</div>
    <ul class="aside-menu__list">
        <li class="aside-menu__item">
            <a href="" class="aside-menu__anchor">About</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">apparel</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">surf apparel          </a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">windsurf       </a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">kitesurf</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">accessories</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">sale</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">brands</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">blog</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">Gadgets</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">cantact</a></li>
            <li class="aside-menu__item"><a href="" class="aside-menu__anchor">Electronic Gadgets</a>
        </li>
    </ul>
</aside>
