<div class="l-breadcrumb">
    <a href="#" class="l-breadcrumb__item">Home</a>
    <a href="#" class="l-breadcrumb__item">Aparel</a>
    <span class="l-breadcrumb__item l-breadcrumb__item_current">Aparel</span>
</div>
