<div class="l-breadcrumb">
    {% for item in breadcrumb %}
        {% if loop.last %}
            <span class="l-breadcrumb__item l-breadcrumb__item_current">{{item.label}}</span>
        {% else %}
            <a href="{{item.url}}" class="l-breadcrumb__item">{{item.label}}</a>
        {% endif %}
    {% endfor %}

</div>
