<ul class="tags">
    <li class="tags__item">
        <a href="#" class="tags__anchor">Kitesurf</a>
    </li>
    <li class="tags__item">
        <a href="#" class="tags__anchor">Super</a>
    </li>
    <li class="tags__item">
        <div class="tags__anchor">Equipment</div>
    </li>
    <li class="tags__item">
        <div class="tags__anchor">Apparel </div>
    </li>
    <li class="tags__item">
        <div class="tags__anchor">Super</div>
    </li>
</ul>
