<div class="l-box {{mods}}">
    <div class="l-box__inner">
        {% if heading %}
        <div class="l-box__heading">
            {{heading}}
        </div>
        {% endif %}
        {% if content %}
        <p class="l-box__body">
            {{content}}
        </p>
        {% endif %}
    </div>
</div>
